<section class="grid">
  <h1 class="title">¿ Quienes somos ?</h1>
  <p class="text">
    desde hace mas de 5 años nos dedicamos a la harrearía y a la forja. nuestros trabajos son cuidadosamente elaborados
    con la mejor calidad de materiales y terminado de los mismos, combinando también con diferentes materiales 
    como son la madera, cristal ,marmol, etc. para dar mayor calidad visual y experimentar con diferentes tipos de
    materiales para dar ese acabado que nos identifica.
  </p>
</section>